*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding:5%;
  background-image: url(../images/weatherbckgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  h1{
    color:aliceblue;
    margin: 8px 2px;
  }
  button{
    margin: 20px 2px;
    color:darkblue;
    border-radius: 10px;
    padding:5px 2px;
    border:3px solid darkblue;
  }
  
#loadingSpinner {
      display: none;
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
      margin: 20px auto;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    #infoContainer{
      text-align: center;
      margin-top: 20px;
      background-color: aquamarine;
      border: 2px solid seagreen;
      border-radius:10px; 
    }
    #weatherContainer {
      color: darkblue;
    }
