*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:5%;
  background-image: url(../images/weatherbckgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items:center;
  justify-content: center;
  display:flex;
  }
  h1{
    color:aliceblue;
    text-shadow: ;
  }
  button{
    margin: 20px 2px;
    color:darkblue;
    background-color:aliceblue;
    border-radius: 10px;
    padding:5px 1px;
    border:3px solid darkblue;
    cursor:pointer ;
  }
  button:hover{
    color:aliceblue;
    background-color:darkblue;
  }
  
  .icon{
    text-align: center;
    size:fit-content;
  }
#loadingSpinner {
      display: none;
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
      margin: 20px auto;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .weatherContainer{
      justify-content: center;
      margin-top: 20px;
      background-color: aquamarine;
      border: 2px solid seagreen;
      border-radius:10px; 
      color: darkblue;
      text-align: center;
    }
    
    h6{
      background-color: rgba(127, 255, 212, 0.885);
      padding:20px;
      border-radius: 5px;
    }
    #temperature-box{
      width:100%;
      background-color: aliceblue;
      border-radius: 20px;
      padding:10px;
    }
    h2{
      width:375px;
      font-size:large;

    }
    p{  
      font-weight: 700; 
      color:red;
      text-align:center;   
      font-size:small;
      border-radius:5px ;
      padding:0px;
    };
   @media(max-width:400px){
    button{
      font-size: xx-small;
    }
   } 
   @media(max-width:600px){
    button{
      font-size:xsmall;
    }
   }

    